logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/.history
/.cache
/build
functions/build/
.env.local
.env
.dev.vars
*.vars
.wrangler
_worker.bundle

Modelfile
modelfiles

# docs ignore
site

# commit file ignore
app/commit.json
changelogUI.md
docs/instructions/Roadmap.md
.cursorrules
.qodo

.agents/commands/speckit.analyze.md
.agents/commands/speckit.checklist.md
.agents/commands/speckit.clarify.md
.agents/commands/speckit.constitution.md
.agents/commands/speckit.implement.md
.agents/commands/speckit.plan.md
.agents/commands/speckit.specify.md
.agents/commands/speckit.tasks.md
.agents/commands/speckit.taskstoissues.md
.cursor/commands/speckit.analyze.md
.cursor/commands/speckit.checklist.md
.cursor/commands/speckit.clarify.md
.cursor/commands/speckit.constitution.md
.cursor/commands/speckit.implement.md
.cursor/commands/speckit.plan.md
.cursor/commands/speckit.specify.md
.cursor/commands/speckit.tasks.md
.cursor/commands/speckit.taskstoissues.md
.cursor/rules/specify-rules.mdc

supabase/.temp/cli-latest
supabase/.temp/gotrue-version
supabase/.temp/pooler-url
supabase/.temp/postgres-version
supabase/.temp/project-ref
supabase/.temp/rest-version
supabase/.temp/storage-migration
supabase/.temp/storage-version
